h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  height: 7777px;
}

#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

#banner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#banner p {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.btn-banner {
  float: left;
}

.data-kuliner-list a {
  text-decoration: none;
}

#card-mobile-version {
  display: none;
}

/* card */
.card-container {
  border-radius: 10px;
}

.card-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 0px;
  border-radius: 10px 10px 0px 0px;
}

.card-judul {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #42484b;
}

.card-kategori {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #6d6d6d;
}

.card-icons-lokasi {
  color: black;
  font-size: 16px;
  padding-right: 8px;
}

.card-icons-eye {
  color: #bf2634;
  font-size: 16px;
  padding-right: 8px;
}

.card-lokasi,
.card-status {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #42484b;
}

.btn-card {
  background-color: #bf2634;
  background-position: center;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #bf2634;
  font-size: 0.86rem;
  letter-spacing: 1px;
  outline: none;
  font-weight: 700;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  color: #ffffff;
}

.nama-section {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #42484b;
}

.deskripsi-section {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #6d6d6d;
}

#daftar-dilihat {
  padding-top: 11px;
}

#blog {
  padding-top: 11px;
}

#blog .nama-section {
  text-align: center;
}

#blog .card .card-judul {
  margin-top: 12px;
}

#blog .card .btn-card {
  margin-top: 24px;
}

#blog .card .card-img {
  margin: 0px !important;
  width: 100%;
}

#blog .nama-section::after {
  content: "";
  width: 50px;
  height: 2px;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  margin: auto;
  margin-top: 12px;
}

/* akhir card */

@media (max-width: 768px) {
  .btn-banner {
    float: left;
  }
  .card-container {
    border-radius: 10px;
  }
  .card-img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    height: 150px;
  }
}

@media (max-width: 576px) {
  #banner h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  #banner p {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .btn-banner {
    float: none;
  }

  .card-container {
    border-radius: 8px;
  }

  .card-img-container {
    display: flex;
    justify-content: center;
  }

  #card-mobile-version .card-img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: block;
    margin: auto;
  }

  .card-kategori {
    margin: 5px 0px 10px;
  }

  #card-mobile-version {
    display: flex;
    justify-content: center;
    padding-top: 18px;
  }

  #card-desktop-version {
    display: none;
  }

  #blog .card .card-img {
    margin: 0px !important;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
}

@media (max-width: 425px) {
  .card-container {
    border-radius: 8px;
  }
  #card-mobile-version .card-img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: block;
    margin: auto;
  }
  .card-kategori {
    margin: 5px 0px 10px;
  }

  #blog .card .card-img {
    margin: 0px !important;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
  }

  .card-img-container {
    display: flex;
    justify-content: center;
  }
}
